.main {
  width: 100%;
  height: 100%;
  /*    justify-content: center; */
  padding: 2%;
  display: flex;
  flex-direction: column;
  visibility: visible;
}

.title {
  font-size: 10vh;
  text-align: left;
}
.tagline {
  font-size: 2vh;
  text-align: left;
  margin-left: 1%;
  /* padding-left: 2%; */
}

.searchBar {
  width: 90%;
  margin-top: 2%;
  height: 25px;
  font-size: 18px;
  padding: 2%;
  border-radius: 4px;
  border: 0.5px solid #000000;
  outline: 0;
}

.stationsListings {
}

.chargingScene {
  width: 34vw;
  height: 100%;
  /*    justify-content: center; */
  padding: 2%;
  display: flex;
  flex-direction: column;
  visibility: visible;
}

.chargingTitle {
  font-size: 22px;
}
.chargingAddress {
}

.authButtons {
  display: flex;
  flex-direction: row-reverse;
}

.authButton {
  margin: 2%;
  height: 25px;
  width: auto;
}

.registerScene {
  display: flex;
  flex-direction: column;
}

.registerModule {
  display: flex;
}
